@import '../../style/variables';

@keyframes modalAppear {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-50vh);
  }
  90% {
    opacity: 0.9;
    transform: scale(1.1) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.registration_form__wrapper {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  overflow: hidden;

  .registration_form {
    width: 30vw;
    background: $mainColor;
    color: $mainColorText;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    box-sizing: border-box;
    margin: 0 35vw;
    box-shadow: $boxShadow;
    font-size: 0.9em;
    animation: modalAppear 0.5s linear;
    z-index: 2;

    @media (min-width: 1540px) {
      width: 462px;
      margin: 0 calc(50% - 231px);
    }

    @media (max-width: 1200px) {
      width: 40vw;
      margin: 0 30vw;
    }

    @media (max-width: 860px) {
      width: 70vw;
      margin: 0 15vw;
    }

    @media (max-width: 520px) {
      width: 98vw;
      margin: 0 1vw;
    }

    @media (max-height: 460px) {
      top: 2%;
    }

    .result_message {
      position: absolute;
      background: rgba($color: $lineColor, $alpha: 0.9);
      box-shadow: $boxShadow;
      height: 80%;
      width: 80%;
      margin-top: 10%;
      color: $mainColorText;
      font-size: 2em;
      text-align: center;
      padding-top: 10%;
    }

    .registration_form__header {
      background: $gradientColor;
      padding: 10px;
      text-align: center;
      color: $mainColorText;
      font-size: 1.1em;
      align-self: stretch;

      .close_btn {
        position: absolute;
        right: 10px;
        cursor: pointer;

        &:hover {
          color: $lineColorLight;
        }

        &:active {
          color: $lineColor;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      margin: 10px 0;

      .form_group {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        box-sizing: border-box;
        align-items: center;

        label {
          flex-basis: 44%;
          text-align: right;
          padding-right: 15px;
        }

        .input_group {
          flex-basis: 56%;

          input {
            box-sizing: border-box;
            display: flex;
            padding: 5px;
            border: 1px solid $lineColorGray;
            background: $secondaryColorLight;
            caret-color: $secondaryColorLightText;
            color: $secondaryColorLightText;
            width: 100%;

            &::placeholder {
              color: $secondaryColorLightText;
              font-size: 0.9em;
            }

            &:focus {
              outline-color: $lineColorLight;
              outline-style: solid;
              outline-width: thin;
            }

            &.wrong_input {
              outline-color: $exceptionColor;
              outline-style: solid;
              outline-width: thin;
            }
          }
        }
      }

      .registration_form_btn {
        justify-content: center;

        button {
          padding: 5px 10px;
          outline-style: none;
          background: none;
          color: $mainColorText;
          border: 1px solid $mainColorText;
          cursor: pointer;

          &:hover {
            border-color: $lineColorLight;
            color: $lineColorLight;
          }

          &:active {
            border-color: $lineColor;
            color: $lineColor;
          }
        }
      }
    }

    .registration_form__confirm_tip {
      font-size: 0.9em;
      margin-left: 10px;
      color: $exceptionColor;

      &::before {
        content: '*';
        margin-right: 3px;
      }
    }
  }
}
