@import '../../style/variables';

.movie-page {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  top: 0;
  background: rgba($color: $secondColor, $alpha: 0.9);

  .movie-page--wrapper {
    margin: auto;
    display: flex;
    width: 100%;
    max-width: $maxHeaderWidth;
    flex-direction: column;

    .movie-page--header {
      display: flex;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      flex-direction: column;
      background: rgba($color: $secondColor, $alpha: 0.7);
      color: $mainColorText;
      padding: 10px 15px;
      z-index: 15;

      .header--nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 15px;

        .nav-bar--close-btn,
        .nav-bar--back-btn {
          cursor: pointer;
          font-size: 1.3em;
          color: $lineColorLight;
          opacity: 0.8;
          transition: color, opacity, transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          &:hover {
            color: $lineColor;
            // transform: scale(1.1);
            opacity: 1;
          }

          &:active {
            color: $lineColorDark;
          }
        }

        .nav-bar--title,
        h3 {
          color: $mainColorText;
          margin: 0;
          z-index: 1;
          font-size: 1.2em;
        }
      }

    }

    .header--filter-bar {
      background: transparent;
      display: flex;
      border-top: 1px solid $lineColorGray;
      border-bottom: 1px solid $lineColorGray;
      box-sizing: border-box;

      .filter--item {
        flex-basis: 25%;
        padding: 10px;
        border-right: 1px solid $lineColorGray;
        box-sizing: border-box;
        color: $mainColorText;
        &:last-child {
          border-right: none;
        }

        .filter--btn {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          font-size: 1.1em;

          .filter--btn-arrow {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .movie-page--body {
      display: flex;

      .body-left-container {
        flex-basis: 75%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .movie-about {
          display: flex;
          box-sizing: border-box;

          .movie-poster {
            width: 100%;
            height: 100%;
            flex-basis: 30%;
            padding: 15px;

            .poster-image {
              width: 80%;
              margin: 0;
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              border-radius: 5px;
              overflow: hidden;

              img {
                max-height: 100%;
                margin: auto;
                width: 100%;
                max-width: 100%;
                box-shadow: $boxShadow;
                box-sizing: border-box;
                z-index: 1;
                border-radius: 5px;
              }
            }
          }

          .movie-info {
            flex-basis: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;

              h1 {
                font-size: 3em;
                color: $mainColorText;
                font-weight: bolder;
              }

              span {
                color: $secondColorText;
                font-weight: 500;
              }
          }
        }

        .movie-seances {
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          border-top: 3px solid $lineColorGray;
          border-bottom: 3px solid $lineColorGray;

          .movie-seance-card {
            display: flex;
            border-bottom: 3px solid $lineColorGray;
            &:last-child {
              border-bottom: none;
            }

            .cinema-info {
              flex-basis: 18%;
              display: flex;
              flex-direction: column;
              padding: 10px;
              color: $secondColorText;

              h3 {
                color: $mainColorText;
              }
            }

            .seances {
              flex-basis: 82%;
              display: flex;
              padding: 10px 5px;
              flex-wrap: wrap;

              .seance-card {
                width: 20%;
                display: flex;
                flex-direction: column;
                border: 1px solid $lineColorGray;
                margin: 0 5px;
                justify-content: space-around;
                cursor: pointer;
                border-radius: $borderRadius;
                background: rgba($color: $secondColor, $alpha: 0.4);
                transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover {
                  border-color: $lineColorLight;
                }

                .time {
                  margin: auto;
                  color: $mainColorText;
                  font-size: 1.1em;
                }

                .format {
                  margin: auto;
                  color: $thirdColorText;
                }

                .hall {
                  margin: auto;
                  color: $secondColorText;
                  font-size: 0.9em;
                }
              }
            }
          }

        }
      }

      .body-right-container {
        flex-basis: 25%;
        display: flex;
        flex-direction: column;

        .movie-trailer-preview {
          width: 80%;
          margin: 15px auto;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          border-radius: 5px;
          overflow: hidden;
          position: relative;

          .trailer-overlay {
            position: absolute;
            display: flex;
            background-color: rgba($color: $thirdColor, $alpha: 0.4);
            width: 100%;
            height: 100%;
            top: 0;
            box-sizing: border-box;
            transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            z-index: 2;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
              background-color: rgba($color: $thirdColor, $alpha: 0);

              + img {
                box-shadow: 0px 1px 5px rgba($color: $lineColorLight, $alpha: 0.4);
              }

              svg {
                opacity: 0.9;
              }
            }

            svg {
              opacity: 0.6;
              margin: auto;

              circle {
                stroke: $lineColorLight;
              }

              polygon {
                fill: $lineColorLight;
              }
            }
          }

          img {
            max-height: 100%;
            margin: auto;
            width: 100%;
            max-width: 100%;
            box-shadow: $boxShadow;
            box-sizing: border-box;
            z-index: 1;
            border-radius: 5px;
          }
        }

        .description {
          width: 80%;
          margin: auto;
          padding-top: 15px;
          display: flex;
          flex-direction: column;
          color: $thirdColorText;

          h3 {
            color: $thirdColorText;
            font-size: 1.3em;
            text-decoration: underline;
            margin-bottom: 15px;

          }
        }
      }
    }
  }
}
