@import '../../style/variables';

section {
  margin: 40px 3vw 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;

  .heading {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: $boxShadow;
    border-radius: 10px;
    overflow: hidden;

    .heading-header {
      text-align: center;
      background: $gradientColorLine;
      box-sizing: border-box;
      opacity: 0.9;
      box-shadow: 0px 0px 7px inset rgba($color: $thirdColor, $alpha: 0.7);

      h2 {
        margin: 10px;
        color: $lineColorDarkTextWhite;
      }
    }

    .heading-body {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      flex-wrap: wrap;
      padding: 0 1%;

      .card {
        flex-basis: 18%;
        height: 90%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin: 20px 0;

        .card-header {
          width: 100%;
          padding: 5px;
          text-align: center;
          color: $secondColorText;
          box-sizing: border-box;
          background: $gradientColor;
        }

        .card-body {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          figure {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            .image-wrapper {
              position: relative;
              box-sizing: border-box;

              img {
                max-height: 100%;
                margin: auto;
                width: 100%;
                max-width: 100%;
                box-sizing: border-box;
                z-index: 1;
                border-radius: 5px;
              }

              .card-overlay {
                position: absolute;
                background-color: rgba($color: $thirdColor, $alpha: 0.4);
                width: 100%;
                height: 100%;
                top: 0;
                box-sizing: border-box;
                transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                z-index: 1;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                  background-color: rgba($color: $thirdColor, $alpha: 0);
                }
              }

              a:hover {
                + img {
                  box-shadow: 0px 1px 5px rgba($color: $lineColorLight, $alpha: 0.4);
                }
              }
            }

            figcaption {
              width: 100%;
              padding: 10px;
              text-align: center;
              box-sizing: border-box;

              p {
                margin: 0;
                font-size: small;
                font-weight: lighter;
                color: $thirdColorText;
              }

              h3 {
                margin: 10px 0;
                font-size: larger;
                color: $mainColorText;
                cursor: pointer;
                font-weight: 600;
                letter-spacing: 0.1em;
                transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                &:hover {
                  color: $lineColorLight;
                }
              }

              span {
                font-size: small;
                color: $secondColor;
              }
            }
          }
          .button-link {
            display: flex;
            justify-content: center;

            button {
              flex-basis: 90%;
            }
          }
        }
      }
    }
  }
}
