@import '../../style/variables';

header {
  background: $gradientColor;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
  box-shadow: $boxShadow;

  .top-header {
    width: 100%;
    max-width: $maxHeaderWidth;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 5px 15px;
    box-sizing: border-box;
    position: relative;
    color: $secondaryColorDarkText;
    margin: auto;

    .brand {
      text-align: left;
      cursor: default;
      box-sizing: border-box;
      font-size: 2em;
      position: absolute;
      left: 15px;

      .first {
        font-weight: 400;
        font-size: 0.9em;
        color: $mainColorText;
      }

      .second {
        font-weight: 900;
        font-size: 1.1em;
        color: $lineColor;
      }

      @media (max-width: $mediaWidthMedium) {
        font-size: 1.5em;
      }
    }

    .menu-group {
      display: flex;
      justify-content: space-between;

      @media (max-width: 840px) {
        display: none;
      }

      li {
        list-style: none;
      }

      .nav-group {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
          flex-basis: auto;

          div {
            margin: 0 20px;
          }
        }

        div {
          text-align: center;
          box-sizing: border-box;
          padding: 10px 0;
          border-bottom: 2px solid transparent;
          cursor: pointer;

          &:hover {
            border-bottom-color: $lineColor;
            color: $secondaryColorLightText;
          }
        }
      }

      .reg-log-group {
        display: flex;
        margin-left: 3%;
        text-align: right;
        justify-content: flex-end;

        .reg-log-link {
          margin: 0 10px;
          padding: 10px 0;
          width: max-content;
          box-sizing: border-box;
          border-bottom: 2px solid transparent;
          color: $secondaryColorDarkText;
          cursor: pointer;

          &:hover {
            border-bottom-color: $lineColorLight;
            color: $secondaryColorLightText;
          }
        }
      }
    }
  }

  .bottom-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    max-width: $maxHeaderWidth;
    margin: auto;
    padding: 3px 0;
    background: $mainColor;
    box-shadow: $boxShadow;

    .search-field {
      display: flex;
      flex-basis: 80%;
      justify-content: center;
      align-items: center;

      @media (max-width: $mediaWidthMedium) {
        flex-basis: 100%;
        font-size: 0.7em;
      }

      label {
        padding: 0 5px 0 0;
        color: $mainColorText;
        font-weight: 300;
      }

      div {
        flex-basis: 60%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;

        div {
          position: relative;
          width: 100%;
          background: $secondaryColorDark;
          color: $secondaryColorDarkText;
        }

        .matches {
          position: absolute;
          width: 100%;
          z-index: 1;

          div {
            padding: 5px;
            border-bottom: 1px solid $lineColorGray;
            cursor: pointer;
            font-weight: 300;

            &.hovered {
              background: rgba($color: $lineColorDark, $alpha: 0.5);
            }

            &:hover {
              background: rgba($color: $lineColorDark, $alpha: 0.5);
              border-bottom-color: $lineColorLight;
            }
          }
        }

        input {
          width: 100%;
          border: none;
          border-bottom: $mainColorText 1px solid;
          box-sizing: border-box;
          background: none;
          outline: none;
          padding: 0 5px;
          caret-color: $mainColorText;
          color: $mainColorText;
          display: flex;
          align-items: flex-end;
          font-weight: 100;

          &:focus {
            border-bottom-color: $lineColorLight;
          }
        }
      }

      button {
        background: none;
        outline: none;
        box-sizing: border-box;
        margin-left: 10px;
        border: 1px solid;
        color: $mainColorText;
        font-weight: 300;
        cursor: pointer;

        &:hover {
          border-color: $lineColorLight;
          color: $lineColorLight;
        }

        &:active {
          border-color: $lineColor;
          color: $lineColor;
        }
      }
    }
  }
}
