@import '../../style/variables';

header {
  background: $gradientColor;
  width: 100%;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
  box-shadow: $boxShadow;
  z-index: 1;

  .top-header {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 5px 15px;
    box-sizing: border-box;
    position: relative;
    color: $secondaryColorDarkText;
    margin: auto;

    @media (max-width: $mediaWidthMedium) {
      flex-wrap: wrap;
    }

    .brand {
      text-align: left;
      cursor: default;
      box-sizing: border-box;
      font-size: 2em;
      order: 1;

      .first {
        font-weight: 400;
        font-size: 0.9em;
        color: $mainColorText;
      }

      .second {
        font-weight: 900;
        font-size: 1.1em;
        color: $lineColor;
      }

      @media (max-width: $mediaWidthMedium) {
        font-size: 1.5em;
      }
    }

    .search-field {
      order: 2;
      display: flex;
      align-self: flex-end;
      padding-top: 10px;
      flex-basis: 50%;
      box-sizing: border-box;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      border: 1px solid $lineColorGray;
      padding: 2px 2px 2px 5px;
      border-radius: 50px;

      @media (max-width: $mediaWidthMedium) {
        order: 4;
        flex-basis: 90%;
        font-size: 0.9em;
      }

      label {
        padding: 0 5px 0 0;
        color: $mainColorText;
        font-weight: 300;
      }

      div {
        width: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;

        div {
          position: relative;
          width: 100%;
          background: $secondaryColorDark;
          color: $secondaryColorDarkText;
        }

        .matches {
          position: absolute;
          width: 100%;
          z-index: 1;

          div {
            padding: 5px;
            border-bottom: 1px solid $lineColorGray;
            cursor: pointer;
            font-weight: 300;

            &.hovered {
              background: rgba($color: $lineColorDark, $alpha: 0.5);
            }

            &:hover {
              background: rgba($color: $lineColorDark, $alpha: 0.5);
              border-bottom-color: $lineColorLight;
            }
          }
        }

        input {
          width: 100%;
          border: none;
          border-bottom: $mainColorText 1px solid;
          box-sizing: border-box;
          background: none;
          outline: none;
          padding: 0 5px;
          caret-color: $mainColorText;
          color: $mainColorText;
          display: flex;
          align-items: flex-end;
          font-weight: 100;

          &:focus {
            border-bottom-color: $lineColorLight;
          }
        }
      }

      button {
        background: none;
        outline: none;
        box-sizing: border-box;
        margin-left: 10px;
        border: 1px solid;
        color: $mainColorText;
        border-radius: 0px 50px 50px 0px;
        font-weight: 300;
        cursor: pointer;

        &:hover {
          border-color: $lineColorLight;
          color: $lineColorLight;
        }

        &:active {
          border-color: $lineColor;
          color: $lineColor;
        }
      }
    }

    .menu-group {
      display: flex;
      justify-content: space-between;
      order: 3;

      @media (max-width: 840px) {
        display: none;
      }

      li {
        list-style: none;
      }

      .nav-group {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
          flex-basis: auto;

          div {
            margin: 0 20px;
          }
        }

        div {
          text-align: center;
          box-sizing: border-box;
          padding: 10px 0;
          border-bottom: 2px solid transparent;
          cursor: pointer;

          &:hover {
            border-bottom-color: $lineColor;
            color: $secondaryColorLightText;
          }
        }
      }

      .reg-log-group {
        display: flex;
        margin-left: 3%;
        text-align: right;
        justify-content: flex-end;

        .reg-log-link {
          margin: 0 10px;
          padding: 10px 0;
          width: max-content;
          box-sizing: border-box;
          border-bottom: 2px solid transparent;
          color: $secondaryColorDarkText;
          cursor: pointer;

          &:hover {
            border-bottom-color: $lineColorLight;
            color: $secondaryColorLightText;
          }
        }
      }
    }
  }
}
