$maxBodyWidth: 2560px;
$maxHeaderWidth: 1680px;

$mainColor: #8e8e8e;
$secondColor: #373737;
$thirdColor: #616161;
$gradientColor: linear-gradient(to right, $secondColor, #4f5255);

$lineColor: #90caf9;
$lineColorLight: #c3fdff;
$lineColorDark: #5d99c6;
$lineColorGray: rgba(
  $color: #fff,
  $alpha: 0.3
);

$mainColorText: rgba(
  $color: #fff,
  $alpha: 0.95
);
$secondColorText: rgba(
  $color: #fff,
  $alpha: 0.7
);
$thirdColorText: rgba(
  $color: #fff,
  $alpha: 0.8
);

$lineColorText: rgba(
  $color: #000,
  $alpha: 0.65
);
$lineColorLightText: rgba(
  $color: #000,
  $alpha: 0.55
);
$lineColorDarkText: rgba(
  $color: #000,
  $alpha: 0.75
);

$exceptionColor: #ff867c;

$boxShadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
$borderRadius: 2px;
