@import '../../style/variables';

.booking_stage {
  margin: 10px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5px;
  position: relative;
  background: $lineColorGray;

  .stage {
    border: 2px solid $lineColorDark;
    border-radius: 50px;
    background: $secondaryColorLight;
    color: $secondaryColorLightText;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: -10px;
    user-select: none;
    font-weight: 300;

    &.stage_2 {
      margin-left: -12.5px;
      grid-column-start: 2;
    }

    &.stage_3 {
      margin-left: -12.5px;
      grid-column-start: 3;
    }
    &.stage_4 {
      margin-left: -12.5px;
      grid-column-start: 4;
    }
  }

  .progress {
    border-radius: 0 50px 50px 0;
    grid-column: 1 / span 3;
    background: linear-gradient(to right, $lineColorLight, $lineColor);
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1.2);
  }

  @media (max-width: $mediaWidthMedium) {
    grid-template-rows: 3px;

    .stage {
      border: 1px solid $lineColorDark;
      height: 15px;
      width: 15px;
      margin-top: -6px;
      font-size: 0.6em;

      &.stage_2 {
        margin-left: -7.5px;
        grid-column-start: 2;
      }

      &.stage_3 {
        margin-left: -7.5px;
        grid-column-start: 3;
      }
      &.stage_4 {
        margin-left: 0;
        grid-column-start: 4;
      }
    }
  }
}
