@import '../../../style/variables';

.seat_type {
  width: 100%;
  display: flex;
  height: max-content;
  box-sizing: border-box;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid $lineColorGray;
  &:first-child {
    border-top: 1px solid $lineColorGray;
  }

  .icon-cross {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: $lineColorGray;
    font-size: 0.8em;
    cursor: pointer;

    &:hover {
      color: $lineColor;
    }

    &:active {
      color: $lineColorDark;
    }
  }

  .seat_image {
    width: 80px;
    padding: 5px 10px 5px 0;
    color: $lineColorGray;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    .seat_size {
      border: $lineColorGray 2px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      box-sizing: border-box;
      border-radius: 2px 2px 10px 10px;
      text-align: center;
      grid-column-start: 2;
      grid-column-end: span 2;

      &.double {
        grid-column-start: 1;
        grid-column-end: span 4;
      }

      &.vip {
        grid-column-start: 1;
        grid-column-end: span 4;
        border-color: rgba($color: $exceptionColor, $alpha: 0.8);
        height: 40px;
        width: 70%;
        margin: auto;

        &::after {
          content: 'VIP';
        }
      }

      &.selected_seat {
        background-color: rgba($color: $lineColorDark, $alpha: 0.5);
      }
    }

    @media (max-width: 970px) {
      width: 40px;

      .seat_size {
        height: 15px;
      }
    }
    @media (max-width: $mediaWidthMedium) {
      width: 80px;

      .seat_size {
        height: 35px;
      }
    }
  }

  & .seat_type__head {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $secondaryColorDarkText;

    .seat_head_info {
      display: flex;
      justify-content: space-between;

      h3 {
        color: $secondaryColorLightText;
        font-size: 1.2em;
        font-weight: 400;
      }

      .seat_price {
        font-weight: bold;
      }

      .order_info {
        font-weight: 300;
        .order_info__seat {
          span {
            color: $lineColorDark;
            font-weight: 500;
          }
        }
      }
    }

    // .seat_description {
    //   color: $secondaryColorLightText;
    //   font-size: small;
    //   font-weight: 100;
    // }
  }
}
