@import '../../../style/variables';

@keyframes slide {
  from {
    width: 0;
  }
  to {
    width: 280px;
    padding: 40px;
    padding-top: 125px;
  }
}

.menuToggle {
  display: none;
  position: relative;
  align-self: center;
  box-sizing: border-box;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  @media (max-width: 840px) {
    display: block;
  }

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;

    &:checked ~ .sandwich-span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: $lineColor;
    }
    &:checked ~ .sandwich-span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    &:checked ~ .sandwich-span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    &:checked ~ .menu {
      transform: none;
      animation: slide 0.2s ease forwards;
    }
  }

  .sandwich-span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;

    background: $secondColorText;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  .menu {
    box-sizing: border-box;
    position: absolute;
    width: 0;
    left: -230px;
    top: -30px;
    padding: 0;
    overflow: hidden;
    background: $secondColor;
    box-shadow: $boxShadow;

    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100vw, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    .reg-log-group {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: -30px;
      color: $lineColor;
    }

    .nav-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .reg-log-link {
        margin: 5px 0;
        padding: 5px 0;
        font-size: 22px;
        color: $lineColorLight;
        border-bottom: 2px solid transparent;
        &:active {
          border-color: $lineColor;
        }
      }
    }
  }
}
